{% extends "base.html" %}
{% block title %}Login - Foodfficient{% endblock %}
{% block content %}
<h1 class="text-center">Welcome back! Sign in to Foodfficient.</h1>

<div class="container text-center py-5">
  <div class="row justify-content-center">
    <div class="col-sm col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: #4CAF50;">
        Login
        </div>
        <div class="card-body">
        {% load crispy_forms_tags %}
        <form action="/login/" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        {% comment %} {{ form.errors }} {% endcomment %}
        <input type="submit" class="btn btn-primary" value="Login" />
        <a href="/register/" class="btn btn-secondary">Register</a>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
      </div>
    </div>
  </div>
</div>

{% endblock %}