{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Register - Foodfficient{% endblock %}
{% block content %}
<h1 class="text-center">{{pageTitle}}</h1>
<div class="container text-center py-5">
  <div class="row justify-content-center">
    <div class="col-sm col-md-6">
      <div class="card">
        <div class="card-header" style="background-color: #4CAF50;">
        Register
        </div>
        <div class="card-body">
        <form action="/register/" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        {% comment %} {{ form.errors }} {% endcomment %}
        <input type="submit" class="btn btn-primary" value="Register" />
        {% comment %} <a href="/register/" class="btn btn-secondary">Register</a>
        <input type="hidden" name="next" value="{{ request.GET.next }}" /> {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% endblock %}