<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}" />
</head>
<body>
    {% block content %}
    {% endblock %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> {% endcomment %}
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/what-input.js" %}"></script>
    <script src="{% static "js/vendor/foundation.js" %}"></script>
    <script src="{% static "js/app.js"%}"></script>
</body>
</html>