{% extends "base.html" %}

{% load static %}

{% block title %}{{ blog.title }}  - Foodfficient{% endblock %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 card mb-4  mt-3  top">
      <div class="card-body">
        <h1>{{ blog.title }}</h1>
        <p class=" text-muted">{{ blog.author }} | {{ blog.published_on }}</p>
        <p class="card-text ">{{ blog.content | safe }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}