{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1 class="text-center">{{pageTitle}}</h1>

<div class="col text-center">
    <h3>Search</h3>
    <form action="{% url 'search_results' %}" method="get">
        <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
    </form>
</div>

<div class="container">
    <div class="row p-5 justify-content-center">
      <div class="card-deck">
        <div class="card">
          <div class="card-body" style="display: inline-block; text-align: center;">
            <i class="fa fa-users fa-5x p-2" style="color:black"></i>
            <h5 class="card-title">Users Registered</h5>
            <p class="card-text info">{{ total_users }}</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body" style="display: inline-block; text-align: center;">
            <i class="fa fa-utensils fa-5x p-2" style="color:black"></i>
            <h5 class="card-title ">Recipes Available</h5>
            <p class="card-text">{{ total_recipes }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% comment %} <h3 class="text-center">Recipes available: {{ total_recipes }}</h3>

<h3 class="text-center">Users registered: {{ total_users }}</h3> {% endcomment %}

<br>
{{body2}}
<br>

{% endblock %}