{% extends "base.html" %}

{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<h1 class="text-center">{{pageTitle}}</h1>

<div class="col text-center">
    <h3>Search</h3>
    <form action="{% url 'search_results' %}" method="get">
        <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
    </form>
</div>

<h3 class="text-center">Recipes available: {{ total_recipes }}</h3>

<h3 class="text-center">Users registered: {{ total_users }}</h3>

<br>
{{body2}}
<br>

{% endblock %}