{% extends "base.html" %}

{% load static %}

{% block title %}Profile - Foodfficient{% endblock %}
{% block content %}

<h1 class="text-center">{{ user.get_full_name }}</h1>


<ul>
    <li>Profile picture: </li>
    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url}}" class="img-thumbnail" height="200" width="200"/>
    {% endif %}
    <li>Username: {{ user.username }}</li>
    <li>Bio: {{ user.profile.bio }}</li>
    <li>Location: {{ user.profile.location }}</li>
</ul>


<div class="container text-center py-5">
  <div class="row justify-content-center">
    <div class="col-sm col-md-6">
      <div class="card">
        <div class="card-header">
        Profile
        </div>
        <div class="card-body">
        {% load crispy_forms_tags %}
        <form action="/profile/" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        {{ user_form.as_p }}
        {% comment %} {{ profile_form.as_p }} {% endcomment %}
        <input type="submit" class="btn btn-primary" value="Update Profile" />
        {% comment %} <a href="/register/" class="btn btn-secondary">Register</a>
        <input type="hidden" name="next" value="{{ request.GET.next }}" /> {% endcomment %}
      </div>
    </div>
  </div>
</div>

{% endblock %}