{% extends "base.html" %}

{% load static %}

{% block title %}Profile - Foodfficient{% endblock %}
{% block content %}

<h1 class="text-center">{{ user.get_full_name }}</h1>


<ul>
    <li>Profile picture: </li>
    {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url}}" class="img-thumbnail" height="200" width="200"/>
    {% endif %}
    <li>Username: {{ user.username }}</li>
    <li>Bio: {{ user.profile.bio }}</li>
    <li>Location: {{ user.profile.location }}</li>
    <li>Joined on: {{ user.date_joined }}</li>
    <li>Last login: {{ user.last_login }}</li>
    <li>Recipes submitted: {{ author }} ...</li>
</ul>

<a href="/edit-profile/" type="button" class="btn btn-success">Edit Profile</a>

{% endblock %}