{% extends "base.html" %}

{% load static %}

{% block title %}Profiles - Foodfficient{% endblock %}
{% block content %}
<h1 class="text-center">Profiles - Foodfficient</h1>


<div class="container-fluid">
    {% if profile_list %}
        <div class="row justify-content-center">
            <div class="col-md-10 mt-3 left">
                {% for profile in profile_list %}
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">{{ profile.user }}</h2>
                        <p class="card-text text-muted h6">Date Joined: {{ profile.user.date_joined }} </p>
                        {% comment %} <p class="card-text">{{blog.content|slice:":500"|safe }}</p> {% endcomment %}
                        <a href="{% url 'profile_details' profile.slug  %}" class="btn btn-success">See user &rarr;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
    {% endif %}
</div>

{% endblock %}