{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{% load static %}
<h1 class="text-center">{{pageTitle}}</h1>

{% if recipe_list %}
<table class="table">
    <tr>
        <th>{{table0}}</th>
        <th>{{table1}}</th>
        <th>{{table2}}</th>
        <th>{{table3}}</th>
        <th>{{table4}}</th>
    </tr>
    {% for recipe in recipe_list %}
    <tr>
        <td>{{recipe.recipe_name}}</td>
        <td>{{recipe.recipe_time}}</td>
        <td>{{recipe.recipe_description}}</td>
        <td>{{recipe.recipe_ingredients}}</td>
        <td>{{recipe.recipe_instructions}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}