{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}{{ recipe.name }} - Foodfficient{% endblock %}
{% block content %}

<h1 class="text-center">{{pageTitle}}</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 card mb-4  mt-3 top">
      <div class="card-body">
        <div class="col text-center">
            <h1>{{ recipe.name }}</h1>
        </div>
        {% if recipe.image %}
            <img class="card-img-top" src="{{recipe.image.url}}" alt="{{ recipe.name }}">
        {% endif %}
        <a class=" text-muted">By {{ recipe.author }} posted on {{ recipe.created_on }} </a>
        <p class=" text-muted">Prep Time: {{ recipe.prep_time }} minutes. | Cook Time: {{ recipe.cook_time }} minutes. | Total Time: {{ recipe.total_time }} minutes.</p>
        <p class="card-text ">{{ recipe.description |  linebreaks |  safe }}</a>
        <h5> Ingredients: </h5>
        <a class="card-text ">{{ recipe.ingredients |  linenumbers |  linebreaks |  safe}}</a>
        {% if recipe.optional_ingredients%}
            <h5>Optional Ingredients: </h5>
            <a class="card-text ">{{ recipe.optional_ingredients |  linenumbers |  linebreaks |  safe}}</a>
        {% endif %}
        {% if recipe.substitutions%}
            <h5>Substitutions: </h5>
            <a class="card-text ">{{ recipe.substitutions |  linenumbers |  linebreaks |  safe}}</a>
        {% endif %}
        <h5> Instructions: </h5>
        <a class="card-text ">{{ recipe.instructions |  linenumbers |  linebreaks |  safe}}</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
        <div class="col-md-10 card mb-4  mt-3 ">
            <div class="card-body">
            <!-- comments -->
            <h2>{{ comments.count }} comments</h2>
            {% for comment in comments%}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                    {{ comment.author }}
                    <span class=" text-muted font-weight-normal">
                        &#9679; {{ comment.published_on }}
                    </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
            {% comment %} <div class="col-md-8 card mb-4  mt-3 "> {% endcomment %}
            {% if user.is_authenticated %}
              <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                  Your comment has been submitted.
                </div>
                {% else %}
                <h3>Leave a comment</h3>
                <form method="post" style="margin-top: 1.3em;">
                  {{ form.body | as_crispy_field }}
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                </form>
                {% endif %}
                </div>
              {% else %}
              <div class="card-body">
                  <h3>Log in to leave a comment.</h3>
                  <a href="{% url 'login'  %}" type="button" class="btn btn-success">Log in </a>
                </div>
            {% endif %}
            {% comment %} </div> {% endcomment %}
        </div>
    </div>
  </div>
</div>


{% endblock %}

