{% extends "base.html" %}

{% load static %}

{% block title %}Recipes - Foodfficient{% endblock %}
{% block content %}

<div class="container-fluid">
    <h1 class="text-center">Here is a list of the lastest Foodfficient recipes!</h1>
    {% if recipe_list %}
        <div class="row">
            {% for recipe in recipe_list %}
                <div class="col-4 py-3">
                    <div class="card shadow border-0 ">
                        {% if recipe.image %}
                            <img class="card-img-top" src="{{recipe.image.url}}" alt="{{ recipe.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title"> {{ recipe.name }} by {{ recipe.author }} </h4>
                            <h6 class="card-subtitle text-muted"> Total time: {{ recipe.total_time }} minutes.</h6>
                            <p class="card-text">{{ recipe.description |  linebreaks }}</p>
                            <div class="col text-center">
                                <a href="{% url 'recipe_details' recipe.slug  %}" class="btn btn-success">See Recipe </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

{% endblock %}
